
/* reset.css */
html {
    margin:0;
    padding:0;
    border:0;
    }

body,
div,
span,
object,
iframe,
h1,
h2,
h3,
p,
a,
em, img, q,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
hgroup,
nav,
section {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    }

footer,
header,
hgroup,
section {
    display:block;
    }

body {
    line-height:0.8;
    background:white;
}

a img {
    border:none;
}
:focus {outline:0;}

/* typography.css */
html {
    font-size:100%;
    }

body {
    font-size:75%;
    color:#222;
    background:white;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    }

h1, h2, h3 {
    font-weight:normal;
    color:#111;
    }

h1 {
    font-size:3em;
    line-height:1;
    margin-bottom:0.5em;
    }

h2 {
    font-size:2em;
    margin-bottom:0.75em;
    }

h3 {
    font-size:1.5em;
    line-height:1;
    margin-bottom:1em;
    }

h1 img,
h2 img,
h3 img {
    margin:0;
    }

p {
    margin:0 0 1.5em;
  }

.left {
    float:left !important;
    }

p .left {
    margin:1.5em 1.5em 1.5em 0;
    padding:0;
    }

.right {
    float:right !important;
    }

p .right {
    margin:1.5em 0 1.5em 1.5em;
    padding:0;
    }

a:focus,
a:hover {
    color:#09f;
  }

a {
    color:#06c;
    text-decoration:underline;
  }

blockquote {
    margin:1.5em;
    color:#666;
    font-style:italic;
    }

li ul,
li ol {
    margin:0;
    }

ul,
ol {
    margin:0 1.5em 1.5em 0;
    padding-left:1.5em;
    }

ul {
    list-style-type:disc;
    }

ol {
    list-style-type:decimal;
    }

dl {
    margin:0 0 1.5em 0;
    }

dl dt {
    font-weight:bold;
    }

dd {
    margin-left:1.5em;
    }

table {
    margin-bottom:1.4em;
    width:100%;
    }

th {
    font-weight:bold;
    }

thead th {
    background:#c3d9ff;
    }

th,
td,
caption {
    padding:4px 10px 4px 5px;
    background:#e5ecf9;
    }

tbody tr:nth-child(even) td,
tbody tr.even td {
    background:#dddfe1;
    }

tfoot {
    font-style:italic;
    }

caption {
    background:#eee;
    }

.small {
    font-size:.8em;
    margin-bottom:1.875em;
    line-height:1.875em;
    }

.large {
    font-size:1.2em;
    line-height:2.5em;
    margin-bottom:1.25em;
    }

/* forms.css */
label {
    font-weight:bold;
}

legend {
    font-weight:bold;
    font-size:1.2em;
    margin-top:-0.2em;
    margin-bottom:1em;
}

/* grid.css */
.container {
    width:950px;
    margin:0 auto;
}

.last {
    margin-right:0;
}

.box {
    padding:1.5em;
    margin-bottom:1.5em;
    background:#e5eCf9;
    }

hr {
    background:#ddd;
    color:#ddd;
    clear:both;
    float:none;
    width:100%;
    height:1px;
    margin:0 0 17px;
    border:none;
    }

hr.space {
    background:#fff;
    color:#fff;
    visibility:hidden;
    }

.clearfix:after,
.container:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
    }

.clearfix,
.container {
    display:block;
    }

.clear {
    clear:both;
    }
