.Zebra_Accordion dd { display: none }
.Zebra_Accordion dt { cursor: pointer }

/* posicionamiento del layer del menú lateral */
#menu {
    width: 134px;
    border-style: solid solid none solid;
    border-color: #e5ecf9;
    border-width: 0px;
    background: #32373d;
    margin: 26px;
    float: left;
    z-index:100;
    }

/* los enlaces del menú */
.menu a {
    height: 14px;
    text-decoration: none;
    margin-left: 0px;
    margin-right: -22px;
    }

/* los enlaces del menú */
.menu a:link, .menu a:visited {
    color: #283A50;
    display: block;
    padding: 6px 0px 8px 2px;
}

/* efecto al pasar el mouse sobre el menú */
.menu a:hover {
    color: #283A50;
    display: block;
    padding: 6px 0px 8px 2px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}

/* el contenido de la página */
#contenido {
    margin-left: 160px;
    border-left: 0px solid #62B2B2;
    border-right: 0px solid #62B2B2;
    /*background: #e5ecf9;*/
    padding: 2.2em;
    min-height: 450px;
}
