<!--

    Archivo: form_egresos.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Fecha: 01/10/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de egresos

-->

<!-- definimos el formulario -->
<form name='egresos_cliente' id='egresos_cliente'>

<!-- definimos la tabla -->
<table width='95' align='center' border='0'>

<!-- abrimos la fila -->
<tr>
<td colspan='5'>

<!-- presenta oculta la clave del egreso -->
<input type='hidden' name='id_egreso' id='id_egreso'>

<!-- pide la descripción del item -->
<input type='text'
       name='item_egreso'
       id='item_egreso'
       title='Ingrese el nombre del item'
       style='width:450px;'>
</td>
</tr>

<!-- pide la cantidad egresada -->
<tr>
<td>
<label>Cantidad:
<input type='number'
       name='cantidad_egreso'
       id='cantidad_egreso'
       value='0'
       class='numerogrande'
       step='0.01'
       onClick='$("cantidad_egreso").select();'
       onfocus='$("cantidad_egreso").select();'
       onBlur='document.getElementById("minorista").click();'
       title='Cantidad entregada'>
</label>
</td>

<!-- pide el tipo de venta -->
<td colspan='2'>
<label>Mayorista
<input type='radio'
       id='mayorista'
       name='tipo_venta'
       value='Mayorista'
       onClick='egresos.calculaImporte("Mayorista")'>
</label>
<label>Minorista
<input type='radio'
       id='minorista'
       name='tipo_venta'
       value='Minorista'
       onClick='egresos.calculaImporte("Minorista")'>
</label>
</td>

<!-- presenta el importe y permite editarlo -->
<td colspan='2'>
<label>Importe:
<input type='number'
       name='importe_egreso'
       id='importe_egreso'
       class='numerogrande'
       step='0.01'
       value='0'
       title='Importe parcial del remito'>
</label>
</td>
</tr>

<!-- presenta la fecha de alta -->
<tr>
<td>
<label>Alta:
<input type='text'
       name='alta_remito'
       id='alta_remito'
       size='8'
       title='Fecha de alta del remito'
       readonly>
</label>
</td>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<input type='text'
       name='usuario_remito'
       id='usuario_remito'
       size='8'
       title='Usuario que generó el remito'
       readonly>
</label>
</td>

<!-- presenta el botón grabar -->
<td>
<input type='button'
       name='btnGrabaRemito'
       id='btnGrabaRemito'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick='egresos.verificaEgreso()'>
</td>

<!-- presenta el botón cancelar -->
<td>
<input type='button'
       name='btnCancelaRemito'
       id='btnCancelaRemito'
       value='Cancelar'
       class='boton_cancelar'
       title='Pulse para reiniciar el formulario'
       onClick='egresos.cancelaEgreso()'>
</td>

<!-- presenta el botón salir -->
<td>
<input type='button'
       name='btnFinalizar'
       id='btnFinalizar'
       value='Finalizar'
       class='boton_salir'
       title='Pulse para reiniciar el formulario'
       onClick='egresos.layerEgresos.destroy()'>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- definimos la tabla del número de remito y del total -->
<table>

<!-- presenta el nùmero de remito -->
<!-- presenta la clave del remito -->
<tr>
<td>
<label>Remito:
<input type='text'
        name='remito_egreso'
        id='remito_egreso'
        size=7
        readonly>
</label>
</td>

<!-- presenta el total del remito -->
<td colspan='3'>
<label>Total:
<input type='number'
        name='importe_total'
        id='importe_total'
        value='0'
        class='numerogrande'
        step='0.01'
        title='Importe total del remito'
        readonly>
</label>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<!-- definimos el div con la nómina de egresos -->
<div id='nomina_egresos'></div>

<script>

    // las opciones del autocomplete del item
    var options = {
        url:"modelos/lista_modelos.php",
        getValue: "modelo",
        list: {
                onChooseEvent: function() {
                    valor = $("#item_egreso").getSelectedItemData().id;
                        egresos.setIdItem(valor);
                    },
                match: {enabled: true}
                },
        template: {
        type: "description",
            fields: {
                description: "marca"
            }
        },
        placeholder: "Escriba el item",
        theme: "round"
    };

    // inicializa el objeto autocomplete de directores
    $("#item_egreso").easyAutocomplete(options);

    // fijamos la fecha de alta y el usuario
    document.getElementById("alta_remito").value = fechaActual();
    document.getElementById("usuario_remito").value = sessionStorage.getItem("Usuario");

    // si está editando un remito
    if (egresos.Remito != 0){

        // cargamos el importe total de la factura
        egresos.totalRemito();

    }

    // cargamos la nómina de egresos del remito
    egresos.nominaEgresos();

    // agregamos el remito
    document.getElementById("remito_egreso").value = egresos.Remito;

</script>