<!--

    Archivo: form_ingresos.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Fecha: 17/10/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de nuevo ingreso
                 llamado desde la grilla de modelos

-->

<!-- presenta el tìtulo -->
<h3>Ingreso de Materiales al Depósito</h3>

<!-- definimos el formulario -->
<form name='ingresos_materiales' id='ingresos_materiales'>

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- presenta oculta la clave del modelo -->
<input type='hidden'
       name='id_modelo_ingreso'
       id='id_modelo_ingreso'>

<!-- presenta el nombre de modelo solo lectura -->
<tr>
<td colspan='3'>
<label>Modelo:
<input type='text'
       size='40'
       name='modelo_ingreso'
       id='modelo_ingreso'
       title='Modelo de la mercaderìa ingresada'
       readonly>
</label>
</td>
</tr>

<!-- pide la cantidad ingresada -->
<tr>
<td>
<label>Cantidad:
<input type='number'
       id='cantidad_ingreso'
       name='cantidad_ingreso'
       class='numerogrande'
       step='0.01'
       value='0'
       title='Cantidad de artìculos ingresados'>
</label>
</td>

<!-- pide el nùmero de factura -->
<td>
<label>Factura:
<input type='text'
       name='factura_ingreso'
       id='factura_ingreso'
       size='10'
       title='Número de factura'>
</label>
</td>

<!-- pide el importe abonado -->
<td>
<label>Importe:
<input type='number'
       id='importe_ingreso'
       name='importe_ingreso'
       class='numerogrande'
       step='0.01'
       value='0'
       title='Importe total de la factura'>
</label>
</td>
</tr>

<!-- presenta el usuario -->
<tr>
<td>
<label>Usuario:
<input type='text'
       name='usuario_ingreso'
       id='usuario_ingreso'
       size='10'
       title='Usuario que ingresó el material'
       readonly>
</label>
</td>

<!-- presenta la fecha de alta -->
<td>
<label>Alta:
<input type='text'
       name='alta_ingreso'
       id='alta_ingreso'
       size='9'
       title='Fecha de alta del material'
       readonly>
</label>
</td>

<!-- presentamos el botòn grabar-->
<td>
<input type='button'
       name='btnGrabaIngreso'
       id='btnGrabaIngreso'
       value='Ingresar'
       class='boton_grabar'
       title='Graba el ingreso al depósito'
       onClick='ingresos.ingresoModelos()'>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // almacenamos la id desde la variable de clase
    document.getElementById("id_modelo_ingreso").value = ingresos.IdItem;

    // presentamos el nombre desde la variable de clase
    document.getElementById("modelo_ingreso").value = ingresos.Descripcion;

    // presenta la fecha de alta
    document.getElementById("alta_ingreso").value = fechaActual();

    // presenta el usuario
    document.getElementById("usuario_ingreso").value = sessionStorage.getItem("Usuario");

    // setea el foco
    document.getElementById("cantidad_ingreso").focus();

</script>