/*

    Archivo con las definiciones css del sistema de stock

*/

/* el tipo de botón confirmar con texto */
.boton_confirmar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/confirmation.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón confirmar con texto */
.boton_confirmar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/confirmation.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón salir con texto */
.boton_salir {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/salida.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón salir con texto */
.boton_salir:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/salida.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón imprimir con texto */
.boton_imprimir {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/imprimir.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón imprimir con texto */
.boton_imprimir:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/imprimir.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón generico con texto */
.boton_chico {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* un tipo de botón genérico con texto */
.boton_chico:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón agregar con texto */
.boton_agregar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/Button_Add.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón agregar con texto */
.boton_agregar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/Button_Add.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón grabar con texto */
.boton_grabar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/grabar.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón agregar con texto */
.boton_grabar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/grabar.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón información con texto */
.boton_informacion {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/information.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón agregar con texto */
.boton_informacion:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/information.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón cancelar con texto */
.boton_cancelar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/error.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón cancelar con texto */
.boton_cancelar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/error.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}
/* el tipo de botón correo */
.boton_correo {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/correo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón borrar con texto */
.boton_borrar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/Button_Delete.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón borrar con texto */
.boton_borrar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/Button_Delete.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón mapa con texto */
.boton_mapa {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../imagenes/chart.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón mapa con texto */
.boton_mapa:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../imagenes/chart.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el botón con imágen */
.botoneditar{
    background-image:url(../imagenes/editar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón con imágen hover*/
.botoneditar:hover{
    background-image:url(../imagenes/editar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón borrar */
.botonborrar{
    background-image:url(../imagenes/Button_Delete.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón borrar hover */
.botonborrar:hover{
    background-image:url(../imagenes/Button_Delete.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón imprimir */
.botonimprimir{
    background-image:url(../imagenes/imprimir.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón imprimir hover */
.botonimprimir:hover{
    background-image:url(../imagenes/imprimir.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón grabar */
.botongrabar{
    background-image:url(../imagenes/grabar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón grabar hover */
.botongrabar:hover{
    background-image:url(../imagenes/grabar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón confirmar */
.botonconfirmar{
    background-image:url(../imagenes/confirmation.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón confirmar hover */
.botonconfirmar:hover{
    background-image:url(../imagenes/confirmation.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón agregar */
.botonagregar{
    background-image:url(../imagenes/Button_Add.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón agregar hover */
.botonagregar:hover{
    background-image:url(../imagenes/Button_Add.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón buscar */
.botonbuscar{
    background-image:url(../imagenes/search.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón buscar hover */
.botonbuscar:hover{
    background-image:url(../imagenes/search.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón información */
.botoninformacion{
    background-image:url(../imagenes/information.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón información */
.botoninformacion:hover{
    background-image:url(../imagenes/information.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón calcular */
.botoncalcular{
    background-image:url(../imagenes/Porcentaje.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón calcular hover */
.botoncalcular:hover{
    background-image:url(../imagenes/Porcentaje.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón salir */
.botonsalir{
    background-image:url(../imagenes/salida.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón salir hober */
.botonsalir:hover{
    background-image:url(../imagenes/salida.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* los elementos input */
input {
  font-family: Arial;
  color: #1A1A1A;
  font-size: 12px;
  border:1px solid;
  height:20px;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.numero{
    width: 40px;
}

.numerogrande{
    width: 70px;
}

/* del fieldset */
fieldset {
    font-family: Arial;
    color: #1A1A1A;
    font-size: 12px;
}

/* de los elementos select */
select {
  font-family: Arial;
  color: #1A1A1A;
  font-size: 12px;
  border:1px solid;
  height:19px;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* posicionamos el logo en forma absoluta */
.logo{
  position: float;
  top:  0px;
  margin-left:-131px;
  background:url(../imagenes/buepacklogo.png) no-repeat top left;
  width:120px;
  height:120px;
  background-size: 120px;
}

.encabezado {
    width:100%;
    margin: -48 0 0 23;
}
.title{
    position: absolute;
    top: 30px;
    background-color: RoyalBlue;
    border: 2px solid blanchedAlmond;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px black;
    color: white;
    font-family: Lucida Grande;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
    margin: left;
    padding: 0px;
    text-shadow: 1px 1px gray;
}
