<!--

    Archivo: modelos.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Fecha: 23/09/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que inicializa el formulario de abm de
                 modelos

-->

<!-- definimos el formulario -->
<form name='form_modelos' id='form_modelos'>

<!-- presenta la clave oculta -->
<input type='hidden' name='idmodelo' id='idmodelo'>

<!-- define la tabla -->
<table width='95%' align='center' border='0'>

<!-- presenta el combo de marca -->
<tr>
<td>
<label>Marca:
<select name='marca_modelo'
        id='marca_modelo'
        title='Seleccione la marca de la lista'
        size='1'>

<!-- los elementos los cargamos por javascript-->

<!-- cerramos los tags -->
</select>
</label>
</td>

<!-- pide la descripción del modelo -->
<td colspan='3'>
<label>Modelo:
<input type='text'
       name='descripcion_modelo'
       id='descripcion_modelo'
       size='40'
       title='Ingrese el nombre del modelo'>
</label>
</td>

<!-- pide el valor crítico -->
<td>
<label>Crítico:
<input type='number'
       name='critico_modelo'
       id='critico_modelo'
       class='numerogrande'
       onClick='$("critico_modelo").select();'
       onfocus='$("critico_modelo").select();'      
       value='0.01'
       title='Indique el valor crítico de inventario'>
</label>
</td>
</tr>

<!-- presenta el costo de compra -->
<tr>
<td>
<label>Valor Compra:
<input type='number'
       name='compra_modelo'
       id='compra_modelo'
       onClick='$("compra_modelo").select();'
       onfocus='$("compra_modelo").select();'       
       class='numerogrande'
       step='0.01'
       title='Indique el costo de compra'>
</label>
</td>

<!-- pide el porcentaje de incremento minorista -->
<td>
<label>% Minorista:
<input type='number'
       name='incremento_minorista'
       id='incremento_minorista'
       step='0.01'
       class='numerogrande'
       onClick='$("incremento_minorista").select();'
       onfocus='$("incremento_minorista").select();'
       title='Porcentaje de incremento al por menor'>
</label>

<!-- presenta el botón calcular -->
<input type='button'
       name='btnCalculaMinorista'
       id='btnCalculaMinorista'
       class='botoncalcular'
       title='Calcula el precio de venta'
       onClick='modelos.calculaIncremento("minorista")'>
</td>

<!-- presenta el precio de venta minorista -->
<td>
<label>Minorista:
<input type='number'
       name='venta_minorista'
       id='venta_minorista'
       onClick='$("venta_minorista").select();'
       onfocus='$("venta_minorista").select();'
       class='numerogrande'
       step='0.01'
       title='Precio de venta del artículo al por menor'>
</label>
</td>

<!-- pide el porcentaje de incremento minorista -->
<td>
<label>% Mayorista:
<input type='number'
       name='incremento_mayorista'
       id='incremento_mayorista'
       onClick='$("incremento_mayorista").select();'
       onfocus='$("incremento_mayorista").select();'       
       class='numerogrande'
       step='0.01'
       title='Porcentaje de incremento al por mayor'>
</label>

<!-- presenta el botón calcular -->
<input type='button'
       name='btnCalculaMayorista'
       id='btnCalculaMayorista'
       class='botoncalcular'
       title='Calcula el precio de venta al por mayor'
       onClick='modelos.calculaIncremento("mayorista")'>
</td>

<!-- presenta el precio de venta mayorista -->
<td>
<label>Mayorista:
<input type='number'
       name='venta_mayorista'
       id='venta_mayorista'
       class='numerogrande'
       onClick='$("venta_mayorista").select();'
       onfocus='$("venta_mayorista").select();'       
       step='0.01'
       title='Precio de venta del artículo al por mayor'>
</label>
</td>
</tr>

<!-- presenta la fecha de alta -->
<tr>
<td>
<label>Alta:
<input type='text'
       name='alta_modelo'
       id='alta_modelo'
       size='10'
       title='Fecha de alta del registro'
       readonly>
</label>
</td>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<input type='text'
       name='usuario_modelo'
       id='usuario_modelo'
       size='10'
       title='Usuario que ingresó el registro'
       readonly>
</label>
</td>

<!-- presenta el botón grabar -->
<td>
<input type='button'
       name='btnGrabar'
       id='btnGrabar'
       value='Grabar'
       class='boton_grabar'
       title='Graba el registro en la base'
       onClick='modelos.GrabaModelo()'>
</td>

<!-- presenta el botón cancelar -->
<td>
<input type='button'
       name='btnCancelar'
       id='btnCancelar'
       value='Cancelar'
       class='boton_cancelar'
       title='Reinicia el formulario'
       onClick='modelos.CancelaModelo()'>
</td>

<!--cerramos la ùltima columna -->
<td></td>
</tr>

<!-- cierra la tabla -->
</table>

<!-- cierra el formulario -->
</form>

<!-- define el div para la grilla -->
<div id='nominamodelos'></div>

<script>

    // cargamos el select de marcas
    marcas.nominaMarcas("marca_modelo");

    // setea el usuario y la fecha de alta
    document.getElementById("alta_modelo").value = fechaActual();
    document.getElementById("usuario_modelo").value = sessionStorage.getItem("Usuario");

    // cargamos la grilla de modelos
    modelos.grillaModelos();

</script>