<!--

    Archivo: ayuda.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: KiwiDigital
    Fecha: 27/11/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento presenta la página de ayuda del
                 sistema

-->

<!-- incrementamos la fuente -->
<big>

<!-- presenta el tìtulo -->
<h2>Bienvenido a la Ayuda del Sistema</h2>

<!-- presenta la introducciòn -->
<p align='justify'>
    A continuación se presenta un listado de los items del menú del sistema
    con una guía de las operaciones que podrá realizar en cada uno de
    ellos.
</p>

<!-- un separador -->
<br>

<!-- presenta el tìtulo de clientes-->
<h3>Clientes</h3>

<!-- nuevo cliente -->
<p><b>Nuevo Cliente</b></p>
<p align='justity'>
    Al pulsar esta opción el sistema presentará la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/nuevo_cliente.png'
         border='0'
         width='800px'
         alt='Nuevo Cliente'>
</p>
<p align='justify'>
    Como puede ver, el sistema le pedirá los datos del nuevo cliente,
    algunos de estos datos son obligatorios (como por ejemplo el nombre),
    mientras que otros son optativos (como por ejemplo la dirección de
    correo electrónico). El sistema presentará una alerta en caso que
    falte algún dato.<br>
    Una vez completado el formulario, al pulsar el botón <b>Grabar</b>
    el registro se almacenará en la base de datos y podrá (al pulsar
    el botón con el símbolo <b>+</b>) generar remitos de entrega para
    ese cliente.
</p>
<!-- nòmina de clientes -->
<p align='justify'>
    Esta opción le permitirá obtener una nómina de los clientes registrados
    en el sistema, tal como puede ver en la siguiente imagen:
</p>
<p><b>Nómina</b></p>
<p align='center'>
    <img src='ayudas/nomina_clientes.png'
         border='0'
         width='800px'
         alt='Nomina Clientes'>
</p>
<p align='justify'>
Se presenta un resumen de la información de cada cliente mediante la cual
usted podrá:
</p>
<p align='justify'>
    <ul style="list-style-type:disc">
        <li>Editar los datos del cliente al pulsar sobre el nombre del mismo </li>
        <li>Eliminar el registro del cliente de la base de datos al pulsar el
            botón de color rojo a la derecha de la pantalla (el sistema verificará
            que el cliente no tenga remitos generados, en cuyo caso no le
            permitirá eliminar el registro)
        </li>
        <li>Filtrar los clientes por nombre (ingresando parte del mismo en
            el cuadro superior)
        </li>
        <li>Filtrar por número de teléfono</li>
        <li>Filtrar por fecha de alta</li>
        <li>Filtrar por el usuario que ingresó el registro</li>
        <li>También podrá ordenar la lista en orden ascendente o descendente
            pulsando sobre el título de la misma
        </li>
    </ul>
</p>

<!-- un separador -->
<br>

<!-- presenta el tìtulo de inventario -->
<h3>Inventario</h3>

<!-- el inventario -->
<p><b>Inventario</b></p>
<p align='justify'>
    Al seleccionar esta opción el sistema presentará la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/inventario.png'
         border='0'
         width='800px'
         alt='Inventario'>
</p>
<p align='justify'>
    Como puede ver se trata de una grilla en la cual constan las cantidades
    en depósito de cada uno de los artículos, junto con una breve información
    sobre cada uno de ellos. Aquí también podrá:
</p>
<p align='justify'>
<ul style="list-style-type:disc">
    <li>Actualizar las cantidades (en caso de haber alguna discrepancia)</li>
    <li>Filtrar por marca utilizando el control desplegable superior</li>
    <li>Filtrar por modelo utilizando el control desplegable superior</li>
    <li>Ordenar (en forma ascendente o descendente) pulsando sobre el título
        de cada una de las columnas
    </li>
</ul>
</p>

<!-- los modelos -->
<p><b>Modelos</b></p>
<p align='justify'>
    Al seleccionar esta opción el usuario podrà ver el diccionario de modelos
    de artìculos tal como se muestra en la siguiente imagen:
</p>
<p align='center'>
    <img src='ayudas/modelos.png'
         border='0'
         width='800px'
         alt='Modelos'>
</p>
<p align='justify'>
    Al igual que en los casos anteriores, en esta grilla podrà:
</p>
<p align='justify'>
    <ul style="list-style-type:disc">
        <li>Filtrar los modelos existentes ingresando parte del nombre de la marca</li>
        <li>Filtrar los modelos ingresando parte del nombre del modelo</li>
        <li>Ordenar la grilla pulsando sobre el nombre de la columna deseada</li>
        <li>Filtrar los modelos de acuerdo al usuario que lo ingresó en el sistema</li>
    </ul>
</p>
<p align='justify'>
    Pero además puede editar o ingresar nuevos modelos al sistema, tenga en cuenta que
    en el caso de editar un modelo (el nombre por ejemplo) este cambiará automáticamente
    de nombre en todos los reportes y remitos de la plataforma.
</p>
<p align='justify'>
    Para editar un modelo en particular, bastará que pulse el ícono que se encuentra a la
    derecha de la tabla y verá como automáticamente los datos del mismo se cargan en el
    formulario superior.
</p>
<p align='justify'>
    Si por el contrario, desea ingresar un modelo nuevo, puede pulsar el ìcono con el
    símbolo <b>+</b> que se encuentra en la parte superior de la tabla, el sistema
    dejará en blanco el formulario superior y usted podrà ingresar las características
    del artículo, recuerde que en este formulario algunos campos son obligatorios:
</p>
<p align='justify'>
    <ul style="list-style-type:disc">
        <li>Seleccione de la lista la marca del modelo</li>
        <li>El nombre del modelo</li>
        <li>La cantidad crìtica en depósito puede dejarla en cero (0), de esta
            forma, el sistema ignorarà cualquier advertencia si hay pocas
            unidades en existencia. Si en cambio ingresa aquí una cantidad,
            la plataforma presentará una alerta cuando las unidades en existencia
            caigan por debajo de este valor (queda en el usuario decidir para que
            artìculos es importante recibir alertas y para cuales no).
        </li>
        <li>El valor de compra es obligatorio</li>
        <li>El porcentaje de incremento minorista es obligatorio</li>
        <li>El porcentaje de incremento mayorista es obligatorio</li>
    </ul>
</p>
<p align='justify'>
    A partir de estos valores, el sistema calculará el valor de venta mayorista y
    minorista y los presentará en el formulario, si usted lo desea puede editar
    este importe (si fuese que quisiera redondear un valor por ejemplo)
</p>
<p align='justify'>
    Recuerde además que en caso de estar dando de alta un modelo, luego de grabar
    el registro, la plataforma le solicitará que ingrese la cantidad inicial de
    ese modelo en depósito.
</p>

<!-- las ventas -->
<p><b>Ventas</b></p>
<p align='justify'>
    Seleccionando esta opciòn del menú la plataforma le mostrará la siguiente tabla:
</p>
<p align='center'>
    <img src='ayudas/ventas.png'
         border='0'
         width='800px'
         alt='Ventas'>
</p>
<p align='justify'>
    En ella se presenta el resumen con la información de los remitos generados por
    los usuarios del sistema, como es usual es posible filtrar la tabla por fecha,
    nombre del cliente, tipo de pago y el tipo de venta.
</p>
<p align='justify'>
    Además, al presionar el ícono que se encuentra a la derecha de la tabla, podrà
    ver en pantalla el remito con toda la información de la venta (la grilla presenta
    los totales por remito)
</p>

<!-- los no impresos -->
<p><b>No Impresos</b></p>
<p align='justify'>
    Esta opciòn le permitirà ver la grilla con los remitos que han sido generados
    pero que todavìa no han sido impresos tal como se muestra en la siguiente
    imagen:
</p>
<p align='center'>
    <img src='ayudas/noimpresos.png'
         border='0'
         width='800px'
         alt='No Impresos'>
</p>
<p align='justify'>
    El uso de la grilla o tabla es exactamente igual a como hemos visto hasta ahora,
    pude ordenarla en orden ascendente o descendente simplemente pulsando sobre el
    título de la columna y también filtrarla según el criterio deseado.
</p>
<p align='justify'>
    Además en la última columna de la tabla tiene la opción de imprimir el remito,
    luego de mostrarselo en pantalla usted podrá enviarlo a la impresora (o guardarlo
    si desea tener un respaldo).
</p>
<p align='justify'>
    Pero en este caso además, la plataforma le preguntará si desea marcar el remito como
    impreso, si usted responde afirmativamente, el sistema lo marcará como ya generado y
    lo elimina de la lista de pendientes (el concepto en este caso es que el usuario
    disponga de una herramienta que le permita conocer cuales son los remitos que ya
    han sido enviados a impresión y cuales se encuentran pendientes).
</p>

<!-- un separador -->
<br>

<!-- el tìtulo de exportar-->
<h3>Exportar</h3>

<!-- directamente presenta el texto -->
<p align='justify'>
    Esta opciòn del menú le permite exportar los distintos diccionarios a una hoja
    de càlculo de forma tal que pueda disponer tanto de un resumen de las ventas por
    fecha, como también del volumen total de artìculos que se encuentran en
    depósito, o el importe que estos representan, al seleccionar cada una de las
    opciones, la plataforma directamente le mostrará la hoja de cálculo o le
    solicitará el nombre con el que guardará la misma (esto depende de la
    configuración de su PC y de los programas que tenga instalados).
</p>
<p align='justify'>
    Los listados disponibles son:
</p>
<p align='justify'>
    <ul style="list-style-type:disc">
        <li><b>Artítulos:</b> Nómina de artículos y los valores de venta de los mismos</li>
        <li><b>Ventas:</b> Resumen por fecha de las ventas realizadas</li>
        <li><b>Ingresos:</b>Información de la entrada de mercadería al depósito ordenada por fecha</li>
        <li><b>Inventario;</b> Descripción de los artículos inventariados en depósito</li>
        <li><b>Clientes:</b> Detalle de la información disponible de los clientes</li>
    </ul>
</p>

<!-- un separador -->
<br>

<!-- el tìtulo de administración -->
<h3>Administración</h3>

<!-- aquí presenta una introducción -->
<p align='justify'>
    Esta opción del menú está reservada para aquellos usuarios denominados
    administradores del sistema debido a que alteraciones en la configuración
    obviamente producirán alteraciones en el comportamiento del sistema.
</p>

<!-- los usuarios -->
<p><b>Usuarios</b></p>
<p align='justify'>
    Esta opción le mostrará la grilla con todos los usuarios registrados y
    le permitirá (pulsando el botón a la derecha de la pantalla), editar
    tanto los datos como los permisos de cada usuario.
</p>
<p align='center'>
    <img src='ayudas/usuarios.png'
         border='0'
         width='800px'
         alt='Usuarios'>
</p>

<!-- la contraseña -->
<p><b>Cambiar Contraseña</b></p>
<p align='justify'>
    Como su nombre lo indica esta opción le permitirá modificar su contraseña de
    ingreso, al pulsarla la plataforma mostrará la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/contrasenia.png'
         border='0'
         width='800px'
         alt='Cambiar Contraseña'>
</p>
<p align='justify'>
    Como puede ver, en ella deberá ingresar su contraseña actual de ingreso y luego
    la nueva contraseña (el sistema, para evitar errores de tipeo, le solicitará
    que la ingrese nuevamente para confirmarla). Una vez que pulse el botón <b>Grabar</b>
    la plataforma actualizará la contraseña.
</p>

<!-- nuevo usuario -->
<p><b>Nuevo Usuario</b></p>
<p align='justify'>
    Esta opción le permitirá autorizar un nuevo usuario en la plataforma, recuerde
    que en este caso deberá completar todos los campos del formulario tal como
    se muestra a continuación:
</p>
<p align='center'>
    <img src='ayudas/nuevo_usuario.png'
         border='0'
         width='800px'
         alt='Nuevo Usuario'>
</p>
<p align='justify'>
    Tenga especial cuidado en los permisos que otorga a cada usuario para las
    distintas tablas, <b>Borrar</b> indica que el usuario tendrá todos los
    permisos, <b>Editar</b> que solo podrá ingresar nuevos registros y
    en todo caso editar registros existentes, mientras que <b>Invitado</b>
    solo podrá ver sin modificar absolutamente nada.
</p>

<!-- las marcas -->
<p><b>Marcas</b></p>
<p align='justify'>
    Esta opción le permitirá editar el diccionario de marcas, tal como
    se muestra en la siguiente imagen:
</p>
<p align='center'>
    <img src='ayudas/marcas.png'
         border='0'
         width='800px'
         alt='Marcas'>
</p>

<!-- el backup -->
<p><b>Backup</b></p>
<p align='justify'>
    Al seleccionar esta opción el sistema generará una copia completa de la
    base de datos y presentará un cuadro de diálogo solicitándole que indique
    en que directorio de su disco desea almacenar el archivo con la copia.
</p>
<p align='justify'>
    Recuerde que es una buena medida realizar un backup periódico de forma
    tal de disponer de una copia reciente de la base ante cualquier emergencia.
</p>

<!-- dejamos la fuente normal -->
</big>
