<!--

    Archivo: form_password.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Fecha: 14/09/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que presenta el formulario de cambio de contraseña

-->

<!-- presenta el título -->
<h2>Cambio de Contraseña</h2>

<!-- define el formulario -->
<form name='nuevo_pass' method='post' id='nuevo_pass'>

<!-- define la tabla -->
<table width='90%' align='center' border='0'>

<!-- en la primer fila pedimos el password viejo -->
<tr>
<td><b>Contraseña Actual: </b></td>
<td><input type='password'
           name='viejo_pass'
           id='viejo_pass'
           size='10'
           required
           title='Ingrese su contraseña actual'>
</td>
</tr>

<!-- pide la nueva contraseña -->
<tr>
<td><b>Nueva Contraseña: </b></td>
<td><input type='password'
           name='nuevo_pass_usuario'
           id='nuevo_pass_usuario'
           size='10'
           required
           title='Ingrese su nueva contraseña'>
</td>
</tr>

<!-- pide la repetición -->
<tr>
<td><b>Repetición: </b></td>
<td><input type='password'
           name='repe_pass'
           id='repe_pass'
           size='10'
           required
           title='Repita su nueva contraseña'>
</td>
</tr>

<!-- inserta un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presenta los botones de acción -->
<tr>
<td style='width:50%; text-align:center'>
<input type='button'
       name='BtnGrabar'
       id='BtnGrabar'
       value='Grabar'
       title='Actualizar su contraseña'
       class='boton_grabar'
       onClick='usuarios.actualizaPassword()'>
</td>

<!-- el botón cancelar -->
<td style='width:50%; text-align:center'>
<input type='button'
       name='BtnCancelar'
       id='BtnCancelar'
       value='Cancelar'
       title='Cierra esta ventana'
       class='boton_cancelar'
       onClick='usuarios.layerUsuarios.destroy()'>
</td>
</tr>

<!-- cierra la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // seteamos el foco en el primer elemento
    document.nuevo_pass.viejo_pass.focus();

</script>
