<!--

    Archivo: form_ingreso.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Fecha: 14/09/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de ingreso al sistema

-->

<!-- presenta el título -->
<br>
<h2>Ingreso</h2>
<br>

<!-- define el formulario -->
<form name='ingreso' id='ingreso' method='post'>

<!-- abrimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- inserta una fila -->
<tr>

<!-- pide el nombre de usuario -->
<td align='right'><b>Usuario: </b></td>
<td align='left'>
<input type='text'
       name='usuario'
       id='usuario'
       size='10'
       required
       title='Su nombre de Usuario'>
</td>

<!-- cierra la fila y abre una nueva -->
</tr>
<tr>

<!-- pide la contraseña -->
<td align='right'><b>Contraseña: </b></td>
<td align='left'>
<input type='password'
       name='password'
       id='password'
       size='10'
       required
       title='Su contraseña de Ingreso'>
</td>

<!-- cerramos la fila -->
</tr>

<!-- abrimos otra fila -->
<tr>

<!-- presentamos el botón aceptar -->
<td align='center'>
<input type='button'
       name='Btn_Ingresar'
       id='Btn_Ingresar'
       value='Confirmar'
       class='boton_confirmar'
       title='Pulse para ingresar'
       onClick='usuarios.Ingresar()'>
</td>

<!-- presenta el botón cancelar -->
<td align='center'>
<input type='button'
       name='Btn_Cancelar'
       id='Btn_Cancelar'
       value='Cancelar'
       class='boton_cancelar'
       title='Reinicia el formulario'
       onClick='usuarios.CancelaIngreso()'>
</td>

<!-- cerramos la fila -->
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // setea el foco en el campo
    document.ingreso.usuario.focus();

</script>
