<!--

    Archivo: form_remitos.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: KiwiDigital
    Fecha: 19/12/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario con los datos del
                 remito

-->

<!-- definimos el formulario -->
<form name='remitosventas' id='remitosventas'>

<!-- define la tabla -->
<table style='width:480px;'>

    <!-- presenta oculta la clave del item -->
    <input type='hidden'
           name='iditem-egreso'
           id='iditem-egreso'>

    <!-- presenta el autocomplete con el artìculo -->
    <tr>
    <td colspan='5'>
    <input type='text'
        name='item_egreso'
        id='item_egreso'
        title='Ingrese el nombre del item'
        style='width:450px;'>
    </td>
    </tr>

    <!-- pide la cantidad -->
    <tr>
    <td>
    <input type='number'
           name='cantidadegreso'
           id='cantidadegreso'
           title='Cantidad a egresar'
           class='numero'
           onBlur='ventas.calculaImporte();'>
    </td>

    <!-- presenta el importe (asume que es minorista) -->
    <td>
    <input type='number'
           name='importeegreso'
           id='importeegreso'
           title='Importe de la venta'
           class='numerogrande'>
    </td>

    <!-- presenta el botòn grabar -->
    <td>
    <input type='button'
           name='btnGrabar'
           id='btnGrabar'
           title='Graba el registro en la base'
           value='Grabar'
           class='boton_grabar'
           onClick='ventas.validaVenta()'>
    </td>

    <!-- presenta el botón cancelar -->
    <td>
    <input type='button'
           name='btnCancelar'
           id='btnCancelar'
           title='Reinicia el formulario'
           value='Cancelar'
           class='boton_cancelar'
           onClick='ventas.cancelarVenta()'>
    </td>

    <!-- presenta el botón finalizar -->
    <td>
    <input type='button'
           name='btnFinalizar'
           id='btnFinalizar'
           title='Termina la venta'
           value='Finalizar'
           class='boton_salir'
           onClick='ventas.finalizarVenta();'>
    </td>
    </tr>

    <!-- deja una fila en blanco -->
    <tr><td><br></td></tr>

    <!-- presenta el nùmero de remito -->
    <tr>
    <td colspan='2'>
    <label>Remito:
    <input type='text'
           name='nroRemito'
           id='nroRemito'
           size='10'
           readonly>
    </label>
    </td>

    <!-- presenta el importe total del remito -->
    <td colspan='3'>
    <label>Importe Total:
    <input type='text'
           name='importeTotal'
           id='importeTotal'
           size='15'
           readonly>
    </label>
    </td>
    </tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<!-- definimos la tabla con los remitos existentes -->
<table id="remitos-ventas" class="display" style="width:100%">
    <thead>
        <tr>
            <th align='left'>Marca</th>
            <th align='left'>Modelo</th>
            <th align='left'>Cantidad</th>
            <th align='left'>Importe</th>
            <th align='left'></th>
        </tr>
    </thead>
</table>

<script>

    // si està examinando un remito
    if (clientes.IdRemito != 0){

        // cargamos el importe total de la factura
        ventas.totalRemito(clientes.IdRemito);

        // fijamos la clave del remito
        document.getElementById("nroRemito").value = clientes.IdRemito;

        // cargamos la grilla
        clientes.examinarRemito();

    }

    // las opciones del autocomplete del item
    var options = {
        url:"modelos/lista_modelos.php",
        getValue: "modelo",
        list: {
                onChooseEvent: function() {
                    valor = $("#item_egreso").getSelectedItemData().id;
                        ventas.setIdItem(valor);
                    },
                match: {enabled: true}
                },
        template: {
        type: "description",
            fields: {
                description: "marca"
            }
        },
        placeholder: "Escriba el item",
        theme: "round"
    };

    // inicializa el objeto autocomplete de directores
    $("#item_egreso").easyAutocomplete(options);

    // fijamos el foco
    document.getElementById("item_egreso").focus();
    
</script>