<!--

    Archivo: form_clientes.html
    Proyecto: Stock
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: KiwiDigital
    Fecha: 18/12/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario con los datos del
                 cliente y sus compras

-->

<!-- presenta la clave del cliente -->
<input type='hidden' name='idcliente' id='idcliente'>

<!-- presente el nombre del cliente solo lectura -->
<input type='text'
       name='nombrecliente'
       id='nombrecliente'
       size='40'
       tooltip='Nombre del cliente'
       readonly>

<!-- define la tabla con las compras -->
<table id="compras-clientes" class="display" style="width:100%">
<thead>
    <tr>
        <th align='left'>Id</th>
        <th align='left'>Fecha</th>
        <th align='left'>Importe</th>
        <th align='left'>
            <input type='button'
                   name='btnNuevo'
                   id='btnNuevo'
                   title='Nueva Venta'
                   class='botonagregar'
                   onClick='clientes.examinarVentas()'>
        </th>
    </tr>
</thead>
</table>

<script>

    // leemos de las variables de clase los valores
    document.getElementById("idcliente").value = clientes.IdCliente;
    document.getElementById("nombrecliente").value = clientes.NombreCliente;

    // cargamos la grilla con las compras
    clientes.comprasCliente();

</script>